.container {
  padding-bottom: 0;

  label {
    display: block;
  }
  
  p {
    font-style: italic;
    padding-bottom: 0.25rem;
    color: rgb(174, 174, 174)
  }

  p b {
    color: var(--color-accent);
  }

  textarea {
    padding: 1ch;
    width: 100%;
    margin-bottom: 0.25rem;
  }
}