.container div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  position: relative;

  label {
    margin-right: 0.8ch;
    min-width: 10.75ch;
  }

  input {
    display: block;
    flex: 1;
  }
}