@use 'sass:color';
@use '/src/scss/globals.scss';

.container {
  background-color: #{color.scale(globals.$color-accent, $alpha: -80%, $saturation: -50%)};
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;

  h2 {
    font-weight: 500;

    span {
      font-weight: 700;
      color: var(--color-accent)
    }
  }
}