.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  label {
    margin-right: 0.8ch;
  }

  input {
    display: block;
    flex: 1;
  }
  
  p {
    width: 100%;
    padding-block: 1rem;
    font-style: italic;
    text-align: center;
    opacity: 0.75;
  }
}