@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

$color-button-base: #58c6d0;
$color-bg: #1a1b1b;
$color-accent: #6cd9e8;

:root {
  line-height: 1.5;
  font-weight: 400;

  --radius-default: 6px;
  --color-text: white;
  --color-bg: #{$color-bg};
  --color-button-border: #{color.scale($color-button-base, $saturation: -20%)};
  --color-button-border-highlight: #{color.scale($color-button-base, $lightness: 45%)};
  --color-button-bg: #{color.scale($color-button-base, $lightness: -75%)};
  --color-accent: #{$color-accent};
  --color-success: rgb(131, 227, 131);
  --color-failure: rgb(224, 145, 102);
  --color-focus-outline: rgb(255, 255, 255);
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

main {
  margin-inline: 0.75rem;
  margin-bottom: 0.5rem;
  width: 600px;
}

div#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-block: 0.75rem;
  border-bottom: solid 2px var(--color-accent);
  margin-bottom: 1.25rem;

  h1 {
    font-size: 1.75rem;
  }
}

footer {
  color: rgb(130, 130, 130);
  font-style: italic;
  margin-bottom: 1rem;
}

input,
textarea,
select {
  border-radius: 3px;
  padding: 0.2ch 0.5ch;

  &:focus-visible {
    outline: solid 3px var(--color-focus-outline);
  }
}

input,
textarea {
  color: var(--color-text);
  border: solid 2px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}

input::file-selector-button {
  font-family: inherit;
}

label {
  font-weight: 600;
  padding-inline: 3px;
}

a {
  color: rgb(157, 186, 254);
}

.success {
  color: var(--color-success);
}

.failure {
  color: var(--color-failure);
}